{% extends "base.html" %}

{% block content %}
<!---Hi
    <h1>Post Form</h1>
    <form method='post'>
        <label>
            Add Post:
            <input type="text" name='a_post' />
        </label>
        <input type="submit" value='Add Post' />
    </form>

    <hr />-->
    
    {% if posts|length == 0 %}
    <p>No posts yet</p>
    {% else %}

        <ul>
            {% for post in posts %}
            <a href="/view-post?post-id={{post.id}}"><h3>{{post.name}}</h3></a>
            <!--<h3>{{post.name}}</h3>-->
            
            {{post.body}}
            <form method="POST" action="/delete-post">
                <input type="hidden" name="post-id" value="{{post.id}}" />
                <input type="submit" value="Bye!" />
            </form>
            <!--<br>
            <form method="GET" action="/view-post">
                <input type="hidden" name="post-id" value="{{post.id}}" />
                <input type="submit" value="View!" />
            </form>-->
            <br>
            <hr />
            
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}